.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #222;
    color: #fff;
}

.navbar-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-link {
    margin: 0 10px;
}

.navbar-link a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar-link a:hover {
    color: #ffcd1e;
}

.navbar-logo {
    display: flex;
    align-items: flex-end;
    margin-bottom: -20px; /* Adjust the value as needed */
}

.navbar-logo img {
    height: 80px; /* Adjust the height as needed */

}
